%p
  = label_tag 'title'
  %br
  = text_field_tag(:title, @page.title, size: 45)

%p
  = label_tag 'content'
  %br
  = text_area_tag(:content, @page.content, size: "45x20")

%p
  = label_tag 'page#'
  %br
  = text_field_tag(:no, @page.no)
