%h1 Edit Page

= form_tag("/pages/#{@page.dbid}", :method => :put) do |f|

  = render partial: "pages/form"

  %p
    = submit_tag('Update', class: :action)

= link_to 'Show', @page |
= link_to 'Back', pages_path
